@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>想做一個有社區大樓資訊的網站</h2>
    <p>更多資訊: <a href="https://www.yungching.com.tw/">永慶房屋官網</a>-不用找 只要問!</p>
</div>
